<h1>Admin Dashboard</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Total Amount of Products</th>
          <th><%= @products.length %></th>
        </tr>

        <tbody>
            <td colspan='3'>
              <%= link_to 'Navigate to Products', 'admin/products#index' %>
              <% @products.each do |item| %> 
                <li><%= item.name %></li>
              <% end %>
            </td>
        </tbody>

        <tr>
          <th colspan="2">Total Amount of Categories</th>
          <th><%= @categories.length %></th>
        </tr>

        <tbody>
            <td colspan='3'>
              <%= link_to 'Navigate to Products', 'admin/products#index' %>
              <% @categories.each do |item| %> 
                <li><%= item.name %></li>
              <% end %>
            </td>
        </tbody>

      </thead>
    </table>